<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link media="all" rel="stylesheet" href="/static/css/normalize.css" type="text/css" />
    <link media="all" rel="stylesheet" href="/static/css/home.css" type="text/css" />
    <link media="only screen and (min-device-width : 768px) and (max-device-width : 1024px)" rel="stylesheet"
    href="/static/css/ipad.css" type="text/css" />
    <!--
    <link media="only screen and (max-device-width: 480px)" rel="stylesheet"
    href="/static/mobile.css" type="text/css" />
    -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38578861-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div class="loading">Loading</div>

    <div class="login" style="display: none;">
        <div class="toggler"><div></div></div>

        <form class="user_id_area active">
            <input id="input_user_id" name="user_id" type="text" placeholder="user id" required value="{% if user_id %}{{ user_id }}{% end %}"/>

            <input type="submit" value="Login" class="blue-button"/>
        </form>

        <form class="userinfo_area" style="display: none;">
            <input id="input_email" name="email" type="text" placeholder="email" required/>
            <input id="input_password" name="password" type="password" placeholder="password" required/>

            <input type="submit" value="Login" class="blue-button"/>
        </form>

    </div>

    <div class="playlist-wrapper" style="display: none;">
        <div class="control white-button-menu">
            <!--
            <div class="settings">
                <a href="#" class="shuffle">Shuffle</a>
                <a href="#" class="autoplay">Autoplay</a>
            </div>
            -->
            <div class="core">
                <a class="prev" href="#"><img src="/static/img/player-previous.png"></a>
                <a class="play" href="#">
                    <img class="play-img" src="/static/img/player-play.png">
                    <img class="pause-img" src="/static/img/player-pause.png" style="display: none;">
                </a>
                <a class="next" href="#"><img src="/static/img/player-next.png"></a>
            </div>
            <div class="nav-wrapper">
                <div class="toggler">menu</div> 
                <ul class="nav">
                    <li class=""><a href="#!/collects">collects</a></li>
                    <li class=""><a href="#!/albums">albums</a></li>
                    <li class=""><a href="#!/songs">songs</a></li>
                    <li class=""><a href="#!/about">about</a></li>
                    <li class="logout"><a href="#!/logout">logout</a></li>
                </ul>
            </div>
        </div>
        <ul class="playlist apple-blue-menu">
        </ul>
        <div class="loading_notice"></div>
    </div>

    <iframe name="_player" id="_player" style="display: none;"></iframe>


    <script id="template-song" type="text/template">
        <span class="title"><%- name %></span>
        <span class="artist"><%- artist_name %></span>
        <span class="album"><%- title %></span>
        <span class="status"></span>
        <div class="progress"></div>
    </script>

    <script src="/static/js/jquery-1.7.2.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/js/hammer.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.hammer.js" type="text/javascript"></script>
    <script src="/static/js/underscore.js" type="text/javascript"></script>
    <script src="/static/js/backbone.js" type="text/javascript"></script>
    <script src="/static/js/home.js" type="text/javascript"></script>
</body>
</html>
