body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* css3 effects */
.white-button-menu {
    background-image: linear-gradient(bottom, rgb(240,240,240) 23%, rgb(250,250,250) 82%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 23%, rgb(250,250,250) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 23%, rgb(250,250,250) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 23%, rgb(250,250,250) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 23%, rgb(250,250,250) 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, rgb(240,240,240)),
        color-stop(0.82, rgb(250,250,250))
    );
}
/*
.white-button-menu li {
}
*/

.blue-button {
    background-color: #a5b8da;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(top, #a5b8da, #7089b3);
    border-top: 1px solid #758fba;
    border-right: 1px solid #6c84ab;
    border-bottom: 1px solid #5c6f91;
    border-left: 1px solid #6c84ab;
    border-radius: 18px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: #fff;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
    text-transform: uppercase;
    width: 150px;
}
.blue-button:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer;
}
.blue-button:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
}

.apple-blue-menu li.active {
    background-image: linear-gradient(bottom, rgb(1,93,230) 0%, rgb(2,116,239) 50%, rgb(5,141,245) 100%);
    background-image: -o-linear-gradient(bottom, rgb(1,93,230) 0%, rgb(2,116,239) 50%, rgb(5,141,245) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(1,93,230) 0%, rgb(2,116,239) 50%, rgb(5,141,245) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(1,93,230) 0%, rgb(2,116,239) 50%, rgb(5,141,245) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(1,93,230) 0%, rgb(2,116,239) 50%, rgb(5,141,245) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(1,93,230)),
        color-stop(0.5, rgb(2,116,239)),
        color-stop(1, rgb(5,141,245))
    );
}
.apple-blue-menu li.active span {
    color: rgba(255, 255, 255, 0.95);
    text-shadow: none;
}


/* main styles */
.loading,
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    margin-left: -150px;
}
.loading {
    margin-top: -75px;
    height: 150px;
    font-size: 22px;
    text-align: center;
    color: #444;
}
.login {
    margin-top: -100px;
    background: #e9eaec;
    border-radius: 5px;
    padding: 20px 0;
    -webkit-transition: height 1s ease;
}
.login input {
    display: block;
}
.login input[type="text"],
.login input[type="password"] {
    border: 0;
    font-size: 14px;
    padding: 6px 4px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 3px;
    outline: none;
    color: #444;
    border: 1px solid #ddd;
}
.login input[type="text"]:focus,
.login input[type="password"]:focus {
    box-shadow: 0 0 5px #aaa;
}
.login input[type="submit"] {
    margin: 0 auto;
    margin-top: 20px;
}

.login .toggler {
    margin: 0 auto;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #999;
    overflow: hidden;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-transition: All 1s ease;
}
.login .toggler div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #999;
    margin: 4px;
    -webkit-transition: All 1s ease;
}
.login .toggler.red {
    border: 1px solid #8E354A;
}
.login .toggler.red div {
    background: #8E354A;
}

._player {
    display: none;
}

.playlist-wrapper {
    margin: 0 auto;
    width: 700px;
    box-shadow: inset 0 0 5px #aaa;
    position: relative;
    background: #e9eaec;
}

.nav {
}
/*
.nav li {
    float: left;
    border-left: 1px solid #e3e3e3;
    -webkit-transition: all 0.5s ease;
}
.nav li.logout {
    float: right;
}
.nav li a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    text-decoration: none;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    -webkit-transition: color 0.5s ease;
}
.nav li a.active {
    color: rgb(5,141,245);
}
*/

.control {
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #cbcbcb;
    position: relative;
    z-index: 10;
    height: 3em;
}
.control .core {
    width: 9em;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.control .core a {
    display: block;
    float: left;
    width: 1em;
    text-align: center;
    height: 100%;
    padding: 0 1em;
    -webkit-transition: background 0.5s ease;
}
.control .core a.active {
    box-shadow: inset 0 0 10px #ddd;
}
.control .core a:nth-child(1) {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/img/player-previous.png');
}
.control .core a:nth-child(2) {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/img/player-play.png');
}
.control .core a.playing {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/img/player-pause.png');
}
.control .core a:nth-child(3) {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/img/player-next.png');
}
.control .nav-wrapper {
    position: absolute;
    right: 0; top: 0; bottom: 0;

    -webkit-transition: color 0.5s ease;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.nav-wrapper .toggler {
    cursor: pointer;
    margin: 0;
    padding: 0.9em;
    font-size: 1em;
    text-decoration: none;
    color: #444;
    text-shadow: 1px 1px 1px white;
    border-left: 1px solid #e3e3e3;
}
.nav-wrapper .toggler.opened {
    color: rgb(5,141,245);
}
.nav-wrapper .nav {
    display: none;
    position: absolute;
    top: 3em;
    right: -1px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: transparent;

    z-index: 9;
    border: 1px solid rgb(5,141,245);
    border-top: 0;
}
.nav-wrapper .nav li {
    width: 7em;
}
.nav-wrapper .nav li a {
    display: inline-block;
    font-size: 1.2em;
    padding: 0.8em 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: rgba(250, 250, 250, 0.8);
}
.nav-wrapper .nav li a,
.nav-wrapper .nav li a:visited {
    color: #555;
    text-shadow: 0 0 3px #eee;
}
.nav-wrapper .nav li a:hover {
    /*text-shadow: 0 0 1px rgba(5,141,245, 0.8);*/
    background: rgba(5,141,245, 0.8);
    color: #fff;
}

.loading_notice {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: #999;
    border-top: 1px solid #e3e3e3;
}

.playlist {
    margin: 0;
    padding: 0;
    list-style: none;
    background: transparent;
}
.playlist li {
    /*height: 45px;*/
    border-top: 1px solid #fff;
    border-bottom: 1px solid #cbcbcb;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.playlist li:first-child {
    border-top: 0;
}
.playlist li span {
    display: block;
    float: left;
    white-space: nowrap;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    padding: 15px 10px;
}
.playlist li span:nth-child(1) {
    width: 30%;
}
.playlist li span:nth-child(2) {
    width: 30%;
}
.playlist li span:nth-child(3) {
    width: 30%;
}
.playlist li span:nth-child(4) {
    width: 10%;
    text-align: right;
    color: rgba(1,93,230, 0.8);
}
.playlist .progress {
    height: 1px;
    position: absolute;
    left: 0; bottom: 0;
    width: 0%;
    background: rgba(1,93,230, 0.8);
}
